<app-logo></app-logo>

<div class="ui attached demo menu" style="background-color: #90c7cc;  top: 0;"
  #stickyMenu
  [class.top] = "sticky">
  <a class="item" (click)="sidebar.toggle()" style="color: #fff;" >
      <i class="sidebar icon"></i> Menu
  </a>
</div>
<sui-sidebar-container class="ui bottom attached segment content">
  <sui-sidebar class="inverted vertical lateral" 
    #sidebar 
    id='lateral'
  >
      <a class="item" 
      (click)="sidebar.toggle()"
      >Noticias</a>

      <a class="item"
      (click)="sidebar.toggle()"
      >Edital</a>

      <div class="item" suiDropdown>
          <i class="dropdown icon"></i>
          <span class="text">Anais</span>
          <div class="menu" suiDropdownMenu>
              <a class="item"
                (click)="sidebar.toggle()"
              >2018</a>
              <a class="item"
                (click)="sidebar.toggle()"
              >2017</a>
              <a class="item"
                (click)="sidebar.toggle()"
              >2016</a>
          </div>
      </div>

      <a class="item"
      (click)="sidebar.toggle()"
      >Comissões</a>

      <a class="item"
      (click)="sidebar.toggle()"
      >Area do congressista</a>

      <a class="item"
      (click)="sidebar.toggle()"
      >Inscrição
      <i class="angle double right icon"></i>
      </a>

  </sui-sidebar>

  <sui-sidebar-sibling [isDimmedWhenVisible]="true">
      <div class="ui basic segment">
        <router-outlet></router-outlet>
      </div>
  </sui-sidebar-sibling>
</sui-sidebar-container>

